doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=1024")
    meta(name="apple-mobile-web-app-capable", content="yes")
    title DanMu Slide Show
    meta(name="description", content=" ")
    meta(name="author", content="Ott0")
    link(rel="stylesheet", href="/css/googlefont.css")
    link(rel="stylesheet", href="/css/danmu.css")
    link(rel="shortcut icon", href="/img/logo.png")
    link(rel="apple-touch-icon", href="/img/logo.png")
    script(type="text/javascript", src="/js/jquery-1.11.1.min.js")
    script(type="text/javascript", src="/js/jquery.danmu.min.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    img(src="/img/logo!.png",style={width: '200px',margin: '10px',height:'30px'})
  body.impress-not-supported   
    iframe#fream(src="../slide/"+slidefilename, style="width: 100%; height: 100%;")
    #danmuconfig(style="display: none; position : absolute;top: 0;left: 0px; width: 1000px;height: 32px; z-index: 20;background: grey;")
      | &#24377;&#24149;&#37197;&#32622;&#160;&#160; &#36879;&#26126;&#24230;
      input#alphabar(type="range", value="90")
      span#alphatext 90%
    #danmu
    script(type="text/javascript",src="/js/danmu.js")

  // 感谢
  // 弹幕代码提供
  //jquery.danmu.js (//github.com/chiruom/danmu/) - Licensed under the MIT license//