extends ../layouts/slideout.jade
block content
    #bored.step.slide(data-x="0", data-y="-1500")
        q
            |   你是否用过
        q
            |   Have you used
        q
            |   PPT & Bilibili ?
    .step.slide(data-x="1000", data-y="-1500")
        q
            |   如果把两者结合在一起？
        q
            |   会如何？
    #title.step(data-x="0", data-y="0", data-scale="4")
        h1
            |   FDFZ QP
        h3
            |   复旦附中青浦分校 弹幕+Slide
        footnote
            |   Made by murez
    #its.step(data-x="850", data-y="3000", data-rotate="90", data-scale="5")
        p
        |   这是一个使用
        br
        |   impress.js
        a(href="http://bartaz.github.com/impress.js/") on github
        br
        |   jquery.danmu.js
        a(href="https://github.com/chiruom/danmu/") on github
        br
        |   制作的局域网内弹幕幻灯片演示网页
    #big-1.step(data-x="4500", data-y="2100", data-rotate="180", data-scale="6")
    #big-2.step(data-x="4500", data-y="5400", data-rotate="180", data-scale="6")
    #big-3.step(data-x="10500", data-y="5400", data-rotate="180", data-scale="6")
    #big-4.step(data-x="10500", data-y="2100", data-rotate="180", data-scale="6")
    #title2.step(data-x="7500", data-y="3750", data-rotate="180", data-scale="8")
        h1
        |   感受最宏大的时刻
    #tiny-1.step(data-x="20825", data-y="2325", data-z="-3000", data-rotate="300", data-scale="1")
    #tiny-2.step(data-x="21350", data-y="2325", data-z="-3000", data-rotate="285", data-scale="1")
    #tiny-3.step(data-x="20850", data-y="2825", data-z="-3000", data-rotate="280", data-scale="1")
    #tinyend.step(data-x="21008", data-y="2492", data-z="-3000", data-rotate="292",data-scale="2")
        p
        |   保存最微小的感动
    #overview.step(data-x="6000", data-y="4000",data-rotate="45",data-scale="13")